.newsfeed {
  flex: 0.7;
  color: white;
}

.newsfeed_portfolioValue {
  text-align: left;
}
.newsfeed_portfolioValue > h1 {
  margin: 0;
}
.newsfeed_portfolioValue > p {
  margin-top: 0;
}

.newsfeed_chart {
  width: 100%;
}

.newsfeed_chartSection {
  display: flex;
  flex-direction: column;
}
