.timeline_container {
  display: flex;
  border-bottom: 1px solid #3b4754;
}

.timline_buttons_container {
  display: flex;
  align-items: center;
}

.timeline_button {
  font-weight: bold;
  padding: 10px 10px 20px 10px;
  cursor: pointer;
}

.timeline_button:hover {
  color: #5ac53b;
}
.timeline_button.active {
  color: #5ac53b;
  border-bottom: 2px solid #5ac53b;
}
